<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica 4 - Gestión de Eventos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body class="app-body">
    <div class="page-shell">
        <div class="page-banner">
            <p class="page-kicker">Bases de Datos NoSQL - Práctica Número 4 - Jared Chacón Rubí</p>
            <h1 class="page-title">Gestión de Eventos</h1>
            <p class="page-text">
                Administración de participantes, eventos e inscripciones.
            </p>
        </div>

        <div class="menu-grid">
            <a href="/eventos" class="menu-box participantes">Gestionar Eventos</a>
            <a href="/participantes" class="menu-box eventos">Gestionar Participantes</a>
            <a href="/inscripciones" class="menu-box inscripciones">Gestionar Inscripciones</a>
        </div>
    </div>
</body>
</html>